:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --font-family: "Instrument Serif", sans-serif;
  --bg-color: #e1dcc9;
  --color: #1f150c;
  --red: #810b38;

  font-family: var(--font-family);
}

h1 {
  font-size: 74px;
  font-weight: 200;
}
